compile/
synthesize/
device_map/
place_route/
report_timing/
generate_bitstream/
constraint_check/
log/
bak/
*.log
*.lock
*.bak
*.wf
impl.tcl
multiseed_summary.csv
ipcore/*/pnr/
ipcore/*/example_design/
ipcore/*/sim_lib/
ipcore/*/sim/
ipcore/*/init_param_bin_exmp.dat
ipcore/*/init_param_hex_exmp.dat
