.vs/
.vsconfig
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/
*[Bb]in/
*[Oo]bj/
*[Ll]og/
*[Ll]ogs/

*.obj
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.log
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
*.idb
*.ipch
*.pdb